@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans');

.dashboard-corpo {
  margin: auto;
  justify-content: center !important;
  display: flex;
  margin-top: 10px;
  width: 90%;
}

.dashboard-card {
  /* display: inline-block; */
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 2px #366;
  padding: 5px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border-left: solid 5px rgb(0, 111, 163);
  font-family: 'PT Sans',
    sans-serif;
  width: 24%;
  margin-left: 10px;
  margin-right: 10px;
  color: black;
  background-color: #FFF;

}

.dashboard-card:hover {
  transition: .3s;
  cursor: pointer;
  background-color: rgb(0, 111, 163);
  color: #FFF;
}