@import url('https://fonts.googleapis.com/css?family=Lato|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Lato|Monoton');

.droneats span {
  color: rgb(0, 111, 163);
  text-shadow: 1px 1px 2px rgb(0, 111, 163);
}

.droneats {
  text-decoration: none;
  color: rgb(30, 30, 30) !important;
}

.droneats:hover {
  transition: .3s;
  color: rgb(0, 111, 163) !important;
  text-shadow: 1px 1px 2px rgb(0, 111, 163);
}

body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgb(255, 255, 255);
}

.body {
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 10px;
}

.btn-1 {
  margin-top: 12px;
  margin-bottom: 18px;
  background-color: rgb(0, 111, 163);
  color: #FFF;
  padding: 10px 30px;
  width: 100%;
  border-radius: 4px;
  border: none;
  font-family: 'PT Sans',
    sans-serif;
  font-size: 11pt;
  font-weight: 700;
  letter-spacing: .6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 111, 163, 0.582);
}

.btn-1:hover {
  transition: .3s;
  box-shadow: 0 0 10px rgb(0, 111, 163);
  opacity: .9;
}

.btn-2 {
  margin: 10px 4px;
  border: solid 1px rgb(0, 163, 82);
  background-color: rgba(0, 163, 81, 0.8);
  color: #FFF;
  padding: 8px 30px;
  border-radius: 4px;
  font-family: 'PT Sans',
    sans-serif;
  font-size: 11pt;
  font-weight: 700;
  letter-spacing: .6px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 163, 81, 0.582);
  display: inline-block;
}

.btn-2:hover {
  transition: .3s;
  box-shadow: 0 0 10px rgb(0, 163, 81);
  opacity: .9;
}

a {
  text-decoration: none;
}

.links {
  text-align: center;
  font-family: 'PT Sans',
    sans-serif;
  margin-top: 30px;
}

.links a {
  text-decoration: none;
  /* border: solid 1px rgb(2, 162, 184); */
  padding: 8px 30px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(2, 163, 184, 0.678);
  background-color: rgba(2, 163, 184, 0.171);
  color: rgb(2, 162, 184);
}

.links a:hover {
  transition: .3s;
  box-shadow: 0 0 4px rgb(2, 163, 184);
}

.card-resultado {
  text-align: left;
  margin-top: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 2px #366;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  border-left: solid 5px rgb(0, 163, 81);
  background-color: #FFF;
}

.card-resultado i {
  margin-right: 5px;
}

.menu {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  box-shadow: 0 0 2px #366;
  text-align: center;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
}

.menu div {
  width: 70%;
  margin: auto;
  /* border: solid salmon 1px; */
}

.menu h3 {
  font-family: 'PT Sans',
    sans-serif;
  padding: 15px;
  /* border: solid salmon 1px; */
  display: inline-block;
  margin: 0;
}

.menu-vertical {
  /* border-right: solid 4px rgb(0, 163, 81); */
  width: 200px;
  height: 100%;
  position: fixed;
  margin: 0px;
  text-align: center;
  padding: 0px;
  box-sizing: border-box;
  background-color: #FFF;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 1px 0px 4px #CCC;
  top: 0;
  left: 0;
}

.menu-vertical .menu-items {
  margin-top: 50px;
  vertical-align: middle;
  font-family: 'PT Sans',
    sans-serif;
}

.menu-vertical .menu-items i {
  margin-right: 5px;
}

.menu-vertical .menu-items a {
  display: block;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
}

.menu-vertical .menu-items a:visited {
  color: inherit;
}

.menu-vertical .menu-items a:hover {
  cursor: pointer;
  transition: .2s;
  background: rgb(0, 163, 81);
  color: #FFF;
}

.menu-vertical .menu-items .active {
  border-left: solid 5px rgb(0, 163, 81);
}

.div-titulo {
  text-align: center;
  font-family: 'PT Sans',
    sans-serif;
}

.estado-pedido {
  box-shadow: 0px 0px 4px #666;
  display: inline-block;
  padding: 20px 40px;
  border-radius: 5px;
  font-weight: 100;
}