.corpo-home * {
  font-family: 'PT Sans',
    sans-serif !important;
}

.titulo-home {
  background-image: url('../images/food-home.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.titulo-home {
  padding: 60px 100px 50px 180px;
  margin-bottom: 20px;
}

.titulo-home h1 {
  font-size: 34pt;
  text-shadow: 1px 1px 4px #999;
}

.lista-restaurantes {
  width: 81%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
  justify-content: left !important;
  box-sizing: border-box;
}

.item-lista-restaurantes {
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 15px 30px;
  box-shadow: 0 0 2px #366;
  margin-top: 20px;
  border-radius: 4px;
  vertical-align: middle;
  display: inline-block;
  text-decoration: none;
  flex: 1 0 27.2%;
  margin: 7px;
  max-width: 27.2%;
}

.item-lista-restaurantes:hover {
  transition: .3s;
  background-color: rgba(0, 111, 163, .1);
}

.item-lista-restaurantes .p-msg {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  font-size: 11pt;
  color: #000 !important;
}

.item-lista-restaurantes .p-icon {
  display: inline-block;
  width: 18%;
  min-width: 50px;
  vertical-align: middle;
}

.item-lista-restaurantes .p-icon i {
  padding: 10px;
  border-radius: 100px;
  color: #FFF;
}

@media (max-width: 768px) {
  .titulo-home {
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
  }

  .titulo-home h1 {
    font-size: 26pt;
    text-shadow: 1px 1px 4px #BBB;
  }
}

@media (max-width: 468px) {
  .titulo-home {
    padding: 20px 10px;
  }

  .titulo-home h1 {
    font-size: 23pt;
  }
}